@charset 'UTF-8';
// sass的入口文件
@import "./components/swiper/swiper.min";
@import "./components/swiper/animate.min";
@import "./swiper";
@import "./base";



/****************************************** 
 * 					变量
 *****************************************/

@mixin hw($per:40%) {
	width:$per;
	height:$per;
}




/**************************************** 
					预加载样式
****************************************/
#preload{
	position: fixed;
	left: 0;
	top: 0;
	@include hw(100%);
	z-index: 999;
	background:#99CCFF url('../images/3.gif') no-repeat center;
}









