
.parallax-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 130%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: left;
}

.swiper-slide{
	height: calc(100% - 50px); 
	overflow: hidden;
}

.swiper-pagination-h{
	position: fixed;
	left: 0;
	bottom: 0!important;
	width: 100%;
	display: flex;
	background-color: #333;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.swiper-pagination-bullet {
	margin: 0!important;
	border-radius: 0!important;
	text-align: center;
	opacity: 1;
	flex: 1;
	flex-grow: 1;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	color: #333;
	font-weight: 600;
	background-color: #999!important;
}

.swiper-pagination-bullet-active {
	background-color: #F2DEDE!important;
}

.parallax-bg {
	background: url('../images/bg.gif');
}



.swiper-container-h{
	position: absolute;
	width: 100%;
	left: 0;
	top: 55px;
	height: calc(100% - 55px)!important;
}
.swiper-container-v{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	height: 100%;
}

.swiper-pagination-v{
	position: absolute;
	right: 10px!important;
	top: 50%!important;
	height: 40px!important;
	width: 8px!important;
	background-color: red;
	display: flex!important;
	flex-flow: column!important;
}






